body{
	background-color: #F0E68C;
	text-align: center;
}

.container{
	padding-bottom: 50px;
	background-color: #FFDAB9;
}

.navbar-nav{
	padding-left: 1010px;
}

.navbar{
	background-color: #DCDCDC	;
}


